[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
gunicorn = "*"
ipython = "*"
numpy = "*"
pandas = "*"
scikit-learn = "==1.4.0"
tqdm = "*"

[dev-packages]
waitress = "*"

[requires]
python_version = "3.11"
